<div>
  <h2>Affiliated Faculty</h2>
    <p>The following faculty from other departments and colleges have courtesy appointments in the Gender, Sexuality and Women's Studies program.</p>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m6">
      
   <ul>
 <h3>College of Liberal Arts</h3>    
 <strong>Africology and African American Studies</strong>
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/anadolu-okur-nilg-n">Nilgun Anadolu-Okur</a></li><br>
   <ul>
 <strong>Anthropology</strong>
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/garrett-paul-b">Paul B Garrett</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/levi-heather">Heather Levi</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/newman-jess-marie">Jess Newman</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/stankiewicz-damien">Damien Stankiewicz</a></li><br>
   <ul>
 <strong>Asian and Middle Eastern Languages and Studies</strong>
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/zhu-yun">Yun Zhu</a></li><br>
   <ul>
 <strong>Criminal Jusitce</strong>
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/fader-jamie">Jamie Fader</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/groff-elizabeth">Elizabeth Groff</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/rosen-cathy">Cathryn-Jo Rosen</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/tripp-tara">Tara Tripp</a></li><br>   
   <ul>
 <strong>Economics</strong>
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/das-shreyasee">Shreyasee Das</a></li> 
   <ul>  
 <strong>English</strong>
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/gauch-suzanne">Suzanne Gauch</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/harris-carissa">Carissa	Harris</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/henry-katherine">Kate Henry</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/joyce-joyce">Joyce A Joyce</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/miller-nichole">Nichole E Miller</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/salazar-james">James Salazar</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/teare-brian">Brian Teare</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/walters-shannon">Shannon Walters</a></li>   
  <li><a href="https://liberalarts.temple.edu/academics/faculty/wettach-gabriel">Gabriel Wettach</a></li><br>
   <ul>
 <strong>First Year Writing Program</strong> 
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/friedman-amy">Amy Friedman</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/groner-rachael">Rachel Groner</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/mukherjee-srimati">Srimata Mukherjee</a></li><br>  
   <ul>   
 <strong>Geography and Urban Studies</strong> 
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/gilbert-melissa-r">Melissa R Gilbert</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/hayes-conroy-allison">Allison Hayes-Conroy</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/winston-celeste">Celeste Winston</a></li><br>  
   <ul>
 <strong>Greek and Roman Classics</strong> 
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/klaiber-hersch-karen">Karen Klaiber Hersch</a></li><br>
   <ul>
 <strong>History</strong> 
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/goedde-petra">Petra Goedde</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/iris-lowe-hilary">Hilary Iris Lowe</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/motyl-katya">Katya Motyl</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/goedde-petra">Petra Goedde</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/gran-peter">Peter Gran</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/krueger-rita">Rita Krueger</a></li> 
  <li><a href="https://liberalarts.temple.edu/academics/faculty/lavelle-peter">Peter Lavelle</a></li><br>   
  <ul>
 <strong>Intellectual Heritage</strong>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/hayes-alvarez-elizabeth">Elizabeth Hayes-Alvarez</a></li><br>
    <ul>
 <strong>Philosophy</strong>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/gjesdal-kristin">Kristin Gjesdal</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/solomon-miriam">Miriam Solomon</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/chae-lee-ann">Lee-Ann Chae</a></li><br>    
    <ul>
 <strong>Political Science</strong>
    <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/mucciaroni-gary">Gary Mucciaroni</a></li><br>    
    <ul>
 <strong>Psychology</strong>
    <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/newcombe-nora">Nora Newcombe</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/weinraub-marsha">Marsha Weinraub</a></li><br>    
    <ul>   
 <strong>Religion</strong>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/alpert-rebecca">Rebecca T Alpert</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/junior-nyasha">Nyasha Junior</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/levitt-laura">Laura S Levitt</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/white-sydney-d">Sydney D White</a></li><br>    
    <ul>
 <strong>Sociology</strong>
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/czerniawski-amanda">Amanda Czerniawski</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/goyette-kimberly">Kimberly Ann Goyette</a></li>  
  <li><a href="https://liberalarts.temple.edu/academics/faculty/kidd-dustin">Dustin Kidd</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/levine-judith">Judith Levine</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/peters-donna-marie">Donna-Marie Peters</a></li>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/waidzunas-tom">Tom Waidzunas</a></li><br>
   <ul>  
 <strong>Spanish and Portuguese</strong>
   <ul>
  <li><a href="https://liberalarts.temple.edu/academics/faculty/hey-col-n-rebeca-l">Rebeca L. Hey-Colón</a></li>  
   <ul>
 </div>
            
   <div class="row">
     <div class="col s12 m6"> 
       
  <ul>      
 <h3>Beasley School of Law</h3>
 <strong>Law</strong>
  <li><a href="https://www.law.temple.edu/contact/theresa-glennon/">Theresa Glennon</a></li><br>
    <ul>
  <strong>Legal Writing</strong>
  <li><a href="https://www.law.temple.edu/contact/leonore-f-carpenter/">Lee Carpenter</a></li>
  <li><a href="https://www.law.temple.edu/contact/theresa-glennon/">Theresa Glennon</a></li>
  <li><a href="Kathryn Stanchi">Kathryn Stanchi</a></li>
  <li><a href="https://www.law.temple.edu/contact/bonny-l-tavares/">Bonny Tavares</a></li><br>     
    <ul>    
 <h3>Boyer College of Music and Dance</h3>
 <strong>Keyboard</strong>     
  <li><a href="https://www.temple.edu/boyer/about/people/joycelindorff.asp">Joyce Z Lindorff</a></li><br>
    <ul>
 <h3>Center for Performing/Cinematic Arts</h3>
 <strong>Music Studies</strong>     
   <ul>
  <li><a href="https://www.temple.edu/boyer/about/people/Goldin-Perschbacher.asp">Shana Goldin-Perschbacher</a></li><br>
  <ul>
 <h3>College of Education</h3>
 <strong>Higher Education</strong>    
 <li><a href="https://education.temple.edu/about/faculty-staff/james-earl-davis-jdavis21">James Earl Davis</a></li><br>
   <ul>
  <strong>Secondary Education</strong>
    <ul>
  <li><a href="https://education.temple.edu/about/faculty-staff/christine-woyshner-cwoyshne">Christine Woyshner</a></li><br>
    <ul>
  <h3>College of Public Health</h3>
  <strong>Social and Behavioral Sciences</strong> 
     <ul> 
  <li><a href="https://cph.temple.edu/socialbehavioral/faculty/sarah-bauerle-bass">Sarah Bauerle Bass</a></li><br>
     <ul>
  <strong>Social Work</strong>
    <ul>   
  <li><a href="https://cph.temple.edu/ssa/faculty/kimberly-mckay">Kimberly Mckay</a></li><br>
    <ul>
  <h3>Fox School of Business</h3>
  <strong>Legal Studies</strong> 
    <ul>  
  <li><a href="https://www.fox.temple.edu/mcm_people/leora-eisenstadt/">Leora Eisentadt</a></li><br>
    <ul>
  <h3>Klein College of Media and Communication</h3>
  <strong>Advertising and Public Relations</strong>
    <ul> 
  <li><a href="https://klein.temple.edu/faculty/dana-saewitz">Dana Saewitz</a></li><br>
    <ul>
  <strong>Communication and Social Influence</strong>    
  <li><a href="https://klein.temple.edu/faculty/deborah-cai">Deborah A Cai</a></li><br>
    <ul> 
  <strong>Journalism</strong>
    <ul>  
  <li><a href="https://klein.temple.edu/faculty/carolyn-kitch">Carolyn L Kitch</a></li>
  <li><a href="https://klein.temple.edu/faculty/karen-m-turner">Karen Turner</a></li><br>
    <ul>
  <strong>Media Studies and Production</strong>
    <ul>  
  <li><a href="https://klein.temple.edu/faculty/wazhmah-osman">Wazhmah Osman</a></li>
  <li><a href="https://klein.temple.edu/faculty/adrienne-shaw">Adrienne Shaw</a></li><br>
    <ul>  
 <h3>Tyler School of Art</h3>
 <strong>Art History</strong</strong>     
   <ul>
  <li><a href="https://tyler.temple.edu/faculty/jane-derose-evans-phd">Jane Evans</a></li><br>    
    <ul>
 <h3>Undergraduate Administration</h3>     
 <strong>University Honors</strong>
   <ul>   
  <li><a href="https://honors.temple.edu/about/staff/Ruth">Ruth Ost</a></li>
   </ul>
  </div>
 </div>
